@if (team()) {
  @switch (style()) {
    @case ('initials') {
      @if (link()) {
        <a [routerLink]="['/team', teamId()]" 
          class="inline-flex items-center justify-center rounded font-semibold text-white whitespace-nowrap hover:opacity-80 transition-opacity"
          [class]="badgeColor() + ' ' + sizeClasses()"
          [title]="teamName()">
          {{ initials() }}
        </a>
      } @else {
        <span 
          class="inline-flex items-center justify-center rounded font-semibold text-white whitespace-nowrap cursor-default"
          [class]="badgeColor() + ' ' + sizeClasses()"
          [title]="teamName()">
          {{ initials() }}
        </span>
      }
    }
    @case ('shield') {
      @if (link()) {
        <a [routerLink]="['/team', teamId()]" 
          class="inline-flex items-center justify-center whitespace-nowrap hover:opacity-80 transition-opacity"
          [title]="teamName()">
          <svg class="w-5 h-5" viewBox="0 0 24 24" [class]="textColor()">
            <path fill="currentColor" d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4zm0 2.18l7 3.12v5.7c0 4.83-3.23 9.36-7 10.58-3.77-1.22-7-5.75-7-10.58V6.3l7-3.12z"/>
          </svg>
        </a>
      } @else {
        <span 
          class="inline-flex items-center justify-center whitespace-nowrap cursor-default"
          [title]="teamName()">
          <svg class="w-5 h-5" viewBox="0 0 24 24" [class]="textColor()">
            <path fill="currentColor" d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4zm0 2.18l7 3.12v5.7c0 4.83-3.23 9.36-7 10.58-3.77-1.22-7-5.75-7-10.58V6.3l7-3.12z"/>
          </svg>
        </span>
      }
    }
    @case ('jersey') {
      @if (link()) {
        <a [routerLink]="['/team', teamId()]" 
          class="inline-flex items-center justify-center whitespace-nowrap hover:opacity-80 transition-opacity"
          [title]="teamName()">
          <svg class="w-5 h-5" viewBox="0 0 24 24" [class]="textColor()">
            <path fill="currentColor" d="M18 2a1 1 0 0 1 1 1v2l4-1v4l-4-1v9a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V8L1 9V5l4 1V4a1 1 0 0 1 1-1h12zm-1 2H7v11.5l.5-1h9l.5 1V4zm-3 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
        </a>
      } @else {
        <span 
          class="inline-flex items-center justify-center whitespace-nowrap cursor-default"
          [title]="teamName()">
          <svg class="w-5 h-5" viewBox="0 0 24 24" [class]="textColor()">
            <path fill="currentColor" d="M18 2a1 1 0 0 1 1 1v2l4-1v4l-4-1v9a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V8L1 9V5l4 1V4a1 1 0 0 1 1-1h12zm-1 2H7v11.5l.5-1h9l.5 1V4zm-3 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
        </span>
      }
    }
    @case ('dot') {
      @if (link()) {
        <a [routerLink]="['/team', teamId()]" 
          class="inline-flex items-center justify-center w-3 h-3 rounded-full whitespace-nowrap hover:opacity-80 transition-opacity"
          [class]="badgeColor()"
          [title]="teamName()">
        </a>
      } @else {
        <span 
          class="inline-flex items-center justify-center w-3 h-3 rounded-full whitespace-nowrap cursor-default"
          [class]="badgeColor()"
          [title]="teamName()">
        </span>
      }
    }
    @case ('bordered') {
      @if (link()) {
        <a [routerLink]="['/team', teamId()]" 
          class="inline-flex items-center justify-center rounded-full font-semibold border-2 whitespace-nowrap hover:opacity-80 transition-opacity"
          [class]="borderColor() + ' ' + textColor() + ' ' + sizeClasses()"
          [title]="teamName()">
          {{ abbreviation() }}
        </a>
      } @else {
        <span 
          class="inline-flex items-center justify-center rounded-full font-semibold border-2 whitespace-nowrap cursor-default"
          [class]="borderColor() + ' ' + textColor() + ' ' + sizeClasses()"
          [title]="teamName()">
          {{ abbreviation() }}
        </span>
      }
    }
    @case ('gradient') {
      @if (link()) {
        <a [routerLink]="['/team', teamId()]" 
          class="inline-flex items-center justify-center rounded-md font-semibold text-white whitespace-nowrap hover:opacity-80 transition-opacity"
          [ngClass]="sizeClasses()"
          [ngStyle]="gradientStyle()"
          [title]="teamName()">
          {{ abbreviation() }}
        </a>
      } @else {
        <span 
          class="inline-flex items-center justify-center rounded-md font-semibold text-white whitespace-nowrap cursor-default"
          [ngClass]="sizeClasses()"
          [ngStyle]="gradientStyle()"
          [title]="teamName()">
          {{ abbreviation() }}
        </span>
      }
    }
    @case ('text') {
      @if (link()) {
        <a [routerLink]="['/team', teamId()]" 
          class="inline-flex items-center justify-center font-medium whitespace-nowrap hover:opacity-80 transition-opacity"
          [class]="textColor()"
          [title]="teamName()">
          {{ teamName() }}
        </a>
      } @else {
        <span 
          class="inline-flex items-center justify-center font-medium whitespace-nowrap cursor-default"
          [class]="textColor()"
          [title]="teamName()">
          {{ teamName() }}
        </span>
      }
    }
    @case ('hexagon') {
      @if (link()) {
        <a [routerLink]="['/team', teamId()]" 
          class="inline-flex items-center justify-center whitespace-nowrap hover:opacity-80 transition-opacity"
          [title]="teamName()">
          <svg class="w-5 h-5" viewBox="0 0 24 24" [class]="textColor()">
            <path fill="currentColor" d="M21 16.5c0 .38-.21.71-.53.88l-7.9 4.44c-.16.12-.36.18-.57.18s-.41-.06-.57-.18l-7.9-4.44A.991.991 0 0 1 3 16.5v-9c0-.38.21-.71.53-.88l7.9-4.44c.16-.12.36-.18.57-.18s.41.06.57.18l7.9 4.44c.32.17.53.5.53.88v9z"/>
          </svg>
        </a>
      } @else {
        <span 
          class="inline-flex items-center justify-center whitespace-nowrap cursor-default"
          [title]="teamName()">
          <svg class="w-5 h-5" viewBox="0 0 24 24" [class]="textColor()">
            <path fill="currentColor" d="M21 16.5c0 .38-.21.71-.53.88l-7.9 4.44c-.16.12-.36.18-.57.18s-.41-.06-.57-.18l-7.9-4.44A.991.991 0 0 1 3 16.5v-9c0-.38.21-.71.53-.88l7.9-4.44c.16-.12.36-.18.57-.18s.41.06.57.18l7.9 4.44c.32.17.53.5.53.88v9z"/>
          </svg>
        </span>
      }
    }
  }
} @else {
  <span 
    class="inline-flex items-center justify-center rounded font-semibold text-zinc-400 bg-zinc-700 whitespace-nowrap"
    [class]="sizeClasses()">
    ?
  </span>
}